.cartItems{
    margin-left: 140px;
    width: 125%;
}
.cartSummary{
    width: fit-content
}
.remove{
    transform: translate(101px, -35px);
    font-size: 25px;
}
.addMinusBtns{
    transform: translate(50px, 3px);
    width: fit-content;
}
.cartContainer{
    padding-top: 100px;
}
.card-title{
    color: #003153;
}