/* body{
    overflow-x: hidden;
} */
.header {
    position: fixed !important;
    top: 0;
    width: 100%;
    z-index: 1000;
}

.count {
    background-color: #003153;
    font-size: 15px !important;
    width: 20px;  /* Adjust as needed */
    height: 20px; /* Ensures a perfect circle */
    display: flex;
    justify-content: center;
    align-items: center;
    /* transform: translate(-50%, -50%); Centers within parent */
}