.card-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    row-gap: 55px;
    padding: 20px;
    margin-bottom: 50px;
}

.cardOne {
    border: 0;
    background-color: #fff1e6;
    width: 95%;
    height: 125%;
}

.cardTwo {
    border: 0;
    background-color: #b8eeec;
    width: 95%;
    height: 125%;
}

.cardThree {
    border: 0;
    background-color: #ededb8;
    width: 95%;
    height: 125%;
}

.cardFour {
    border: 0;
    background-color: #C3D9FF;
    width: 95%;
    height: 125%;
}

.sliderContainer {
    background-color: #f0f7fc;
    position: relative;
    margin: auto;
    overflow: hidden;
    width: 100%;
    height: auto;
}
.slick-prev, .slick-next{
    z-index: 10;
}
.slick-prev{
    top: 35%;
    left: 10px;
}
.slick-next{
    top: 35%;
    right: 10px;
}
.slide {
    margin-top: 70px;
    padding: 110px;
}

/* .bannerImg {
    width: 500px;
} */

/* .slideRow {
    height: 500px;
} */
.addBtn {
    width: 50px;
    height: 50px;
    padding: 0;
    font-size: 30px;
}

.addBtn:hover {
    background-color: #003153;
    color: white;
}

.discount {
    background-color: #003153;
    color: white;
    width: 20%;
    height: 30px;
    font-size: 13px;
    text-align: center;
}

.product-img {
    width: 300px;
    height: 200px;
}

.product-cards {
    width: 300px;
    height: 500px;
}

.ratings {
    display: flex;
    gap: 10px;
}

.bigDiscContainer,
.bestSalesContainer {
    background-color: #f0f7fc;
    margin-top: 5%;
    padding: 70px;
}

.newArrivalsContainer {
    margin-top: 2%;
    padding: 70px;
}

.bestSalesContainer {
    background-color: #f0f7fc;
    margin-top: 2%;
    padding: 70px;
}

.discTitle {
    font-size: 40px
}

.heart {
    opacity: 0;
}
.rounded-pill{
    width: 70px;
}
.product-cards:hover .heart {
    opacity: 1;
}
@media (max-width:1440px){
    .bannerTitle {
        font-size: 50px;
    }
    
    .bannerDesc {
        font-size: 20px;
    }
}
@media (max-width:1200px){
    .bannerTitle {
        font-size: 40px;
    }
    
    .bannerDesc {
        font-size: 20px;
    }
}
@media (max-width:1025px){
    .bannerTitle {
        font-size: 40px;
    }
    
    .bannerDesc {
        font-size: 20px;
    }
}
@media (max-width:765px){
    .bannerTitle {
        font-size: 35px;
    }
    
    .bannerDesc {
        font-size: 15px;
    }
}
@media (max-width:428px){
    .bannerTitle {
        font-size: 30px;
    }
    
    .bannerDesc {
        font-size: 15px;
    }
}